/* variable warna */
:root {
    --warna-utama: #4169e1;
    --warna-tebal: #002366;
    --warna-bg-secodary: #e1e1df;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}
/* start navbar */
.nav-active{
    text-decoration: underline !important;
    color: var(--warna-utama) !important;
    font-weight: bold !important;
}

.masuk{
    color: var(--warna-tebal) !important;
    font-weight: bold !important;
}
/* end navbar */

/* start home */
#home{
    background-color: #f9faff;
}

#home .text-utama{
    font-size: 50px;
    color: var(--warna-utama);
    font-family: 'Anton', sans-serif;
    line-height: 70px;
}

#home .home-image{
    width: 100%;
}
/* end home */

/* start about */
#about .text-atas{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: var(--warna-tebal);
}

#about .text-bawah{
    font-size: 18px;
}

.about-image{
    background: url('../img/about-img.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about .title-fasilitas{
    font-size: 20px;
    color: var(--warna-utama);
}
#about span{
    margin-left: 10px;
}
/* end about */

/* start ask */
#ask{
    background-color: var(--warna-bg-secodary);
}
#ask .text-atas{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: var(--warna-tebal);
}

#ask .text-bawah{
    font-size: 18px;
    width: 70%;
}

#ask .btn-tanya{
    width: 300px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center; /* Menengahkan secara vertikal */
    justify-content: center; /* Menengahkan secara horizontal */
}
#ask .btn-tanya span{
    font-family: 'Anton', sans-serif;
    color: var(--warna-tebal);
}
/* end ask */

/* reponsive breakpoint */

/* Untuk tablet dengan lebar layar kurang dari 768px */
@media (max-width: 1000px) {
    #home .text-utama{
        font-size: 40px;
        line-height: 60px;
    }

    #home .col-lg-5{
        background-image: url('../img/home-img.png');
        width: 100%;
        height: 40vh;

        overflow-x: hidden;

        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center; /* Menengahkan secara vertikal */
        justify-content: center; /* Menengahkan secara horizontal */
    }

    #home .container{
        align-items: center;
    }

    #home .col-lg-6{
        display: none;
    }

    #home .home-image{
        /* width: 100%; */
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #home .btn-masuk{
        color: white;
        border: solid 1px white;
    }

    #about .text-atas{
        font-size: 35px;
    }
    
    #about .text-bawah{
        font-size: 16px;
    }

    .about-image{
        height: 350px;
    }

    #about .title-fasilitas{
        font-size: 15px;
    }

    #ask .text-atas{
        font-size: 35px;
    }
    
    #ask .text-bawah{
        width: 90%;
        font-size: 16px;
    }
}

/* Untuk perangkat seluler dengan lebar layar kurang dari 576px */
@media (max-width: 575px) {
    #home .text-utama{
        font-size: 30px;
        line-height: 50px;
    }

    #about .text-atas{
        font-size: 25px;
        margin-bottom: 14px;
    }
    
    #about .text-bawah{
        font-size: 12px;
    }

    .about-image{
        height: 200px;
    }

    #about .title-fasilitas{
        font-size: 18px;
    }

    #ask .text-atas{
        font-size: 25px;
        margin-bottom: 14px;
    }
    
    #ask .text-bawah{
        font-size: 12px;
    }

    #ask .btn-tanya{
        width: 250px;
        height: 100px;
    }

    #ask .btn-tanya span{
        font-size: 12px;
    }

    #ask .btn-tanya img{
        width: 20%;
    }
}

